.row {
    width: auto;
    height: auto;
}
.shadow-jumb {
    -webkit-box-shadow: 0 7px 15px 0 #95a3b7;
    box-shadow: 0 7px 15px 0 #95a3b7;
    background-color: #fff;
    padding: 100px;
}
.form-control-width {
    max-width: 200px;
    min-width: 200px;
}
#btn-enviar-jira {
    background-color:#2870b2 !important;
    margin-left: -10px;
    width: 100px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 27px;

}
#btn-enviar-jira:hover {
    color: white !important;
    background-color: #1e5281 !important;
    border: none !important;
}
