.ponto-style {
    margin-top: 6px;
}

.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    border: none;
}

.btn-bater-ponto {
    background-color: #8cc152;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 7px 15px 0 #95a3b7;
    box-shadow: 0 7px 15px 0 #95a3b7;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 55px 40px 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.btn-bater-ponto-loading {
    background-color: #8cc152;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 7px 15px 0 #95a3b7;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
}

.btn-bater-ponto-loading:hover {
    color: white;
    background-color: #8cc152;
    border: none;
}

.btn-bater-ponto:hover {
    color: white;
    background-color: #6f9e32;
    border: none;
}

#btn-bater-ponto:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    border: none;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

#btnAdd {
    background-color: #e7f0f7;
    border: none;
    color:#2870b2;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 25px;
    width: 50px;
    -webkit-box-shadow: 0 7px 15px 0 #95a3b7;
    box-shadow: 0 7px 15px 0 #95a3b7;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 0px 20px 80px 55px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#btnAdd:hover {
    color: white;
    background-color: #6197c6;
    border: none;
}