.bg-hb {

	background-color: #314056;

}

#button-align-logout {
	margin-right: 10px;
}

.container {
	position: absolute;
	bottom: 0;
}

.style-button {
	text-align: right;
	margin-right: 10px;
	background-color: transparent;
	border: none;
	color: white;
	font-size: 22px;
}

.footer {
	margin-top: 10px;
}


.btn-tam {
	background: none;
	border: none;
	text-align: center;
	color: white;
}

.dropbtn {
	background-color: #314056;
	color: white;
	font-size: 16px;
	border: none;
}

.btn-color {
	color: #fff
}

.btn-color:hover {
	color: antiquewhite
}

.dropdown-item:hover {
	background-color: #cfcfcf
}

.borda {
	border-left: 1px
}

.dropdown-item:hover {
	background-color: #cfcfcf
}