.navbar {
	padding: 15px 10px;
	background: #fff;
	border: none;
	min-width: 455px;
	border-radius: 0;
	margin-bottom: 25px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
	box-shadow: none;
	outline: none;
	border: none;
}

#content {
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}

.img {
	width: 130px;
	height: 30px;
}

.bg-hb {

	background-color: #314056 !important
}

#button-align-logout {
	float: right;
}

.logout-style {

	margin-left: 700px;
	float: right !important;

}

.p-margin-0 {
	margin: 0
}