.row {
    width: auto;
    height: auto;
}

.shadow-jumb {
    -webkit-box-shadow: 0 7px 15px 0 #95a3b7;
    box-shadow: 0 7px 15px 0 #95a3b7;
    background-color: #fff;
    padding: 5px;
    padding-bottom: -15px !important;
}

.form-control-width {
    max-width: 200px;
    min-width: 200px;
}

.button-css {
    margin-top: 20px !important;
}