@media screen and (width: 1024px) {
    .timer {
        font-family: 'Digital-7', Arial, Helvetica, sans-serif;
        font-size: 125px;
        min-width: 550px;
        max-width: 540px;
        margin-left: -25px;

    }

    .style-jumbo {
        -webkit-box-shadow: 0 7px 15px 0 #95a3b7;
        box-shadow: 0 7px 15px 0 #95a3b7;
        background-color: #fff;
        text-align: center;
        width: 410px;

    }

    .timer-size {
        min-width: 350px;
        min-height: 67px;
        max-width: 700px;
        font-family: 'Digital-7', Arial, Helvetica, sans-serif;
        font-size: 125px;
        margin-bottom: -60px;
        margin-top: -60px;
    }
}

@font-face {
    font-family: 'Digital-7';
    font-style: normal;
    src:
        local('Digital-7'),
        local('Digital-7-Regular'),
        url(../../../../../../fonts/digital-7.ttf) format('opentype'),
        url(../../../../../../fonts/digital-7.ttf) format('opentype');
}

.timer {
    font-family: 'Digital-7', Arial, Helvetica, sans-serif;
    font-size: 125px;
    min-width: 350px;
    max-width: 540px;
}

.style-jumbo {
    -webkit-box-shadow: 0 7px 15px 0 #95a3b7;
    box-shadow: 0 7px 15px 0 #95a3b7;
    background-color: #fff;
    text-align: center;
    min-width: 355px;
}

.timer-size {
    min-width: 350px;
    min-height: 67px;
    max-width: 700px;
    font-family: 'Digital-7', Arial, Helvetica, sans-serif;
    font-size: 125px;
    margin-bottom: -60px;
    margin-top: -60px;
}


.horario-work {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: green
}

.horario-intervalo {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: red
}

.padding-top-class {
    margin-top: 3px;
}

.horario-ex {
    -webkit-box-shadow: 0 3px 8px 0 #95a3b7;
    box-shadow: 0 3px 8px 0 #95a3b7;
    background-color: #fff;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 3px;
}

.div-tempo-atual {
    margin-right: 10px;
}

.span-tempo-atual {
    text-align: center;
    font-size: 18px;
}