.box {
    width: auto;
    height: 530px;
    margin: 10px;
    padding: 15px;
    -webkit-box-shadow: 0 7px 15px 0 #95a3b7;
    box-shadow: 0 7px 15px 0 #95a3b7;
    background-color: #fff;
    border-radius: 5px;
}