@media screen and (width: 1024px) {
.card-style {
    position: static;
    margin: 6px;
    -webkit-box-shadow: 0 3px 9px 0 #95a3b7;
    box-shadow: 0 3px 9px 0 #95a3b7;
    transition: 0.3s;
    min-width: 220px;
    
}

.card:hover {
    -webkit-box-shadow: 0 7px 15px 0 #95a3b7;
    box-shadow: 0 7px 15px 0 #95a3b7;
}

}

@media screen and (min-width: 1440px) {
    .card-title {
    font-size: 18px;
}
}
.card-style {
    position: static;
    margin: 6px;
    -webkit-box-shadow: 0 3px 9px 0 #95a3b7;
    box-shadow: 0 3px 9px 0 #95a3b7;
    transition: 0.3s;
    min-width: 220px;
}

.card:hover {
    -webkit-box-shadow: 0 7px 15px 0 #95a3b7;
    box-shadow: 0 7px 15px 0 #95a3b7;
}

.card-title {
    font-size: 15px;
    text-align: center;
    margin: -2px;
}

.fa-undo-alt {
    font-size: 14px;
}