@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}