.shadow-div {
    -webkit-box-shadow: 0 7px 15px 0 #95a3b7;
    box-shadow: 0 7px 15px 0 #95a3b7;
    background-color: #fff;
    padding: 5px;
}

.form-control-width {
    max-width: 100px;
    min-width: 100px;
}

.sem-borda{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}